@import '../../assets/styles/scss/variables';

.login-input {
    position: relative;

    svg {
        position: absolute;
        margin-top: 11px;
        margin-left: 17px;
    }
}

form.login {
    width: 100%;
    max-width: 450px;
    margin-top: 35px;
}


.container-logo {
    height: auto;
    width: 300px;
}

.link-container {
    margin: 45px 0 0 0;
}