$primary-color-black: #303030;
$white-color-black: #FFFFFF;
$green-color-black: #76d476;
$gray-color-black: #686868;
$light-gray-color-black: #efefef;

$font-input: 'Montserrat', sans-serif;
$font-second: 'Roboto', sans-serif;

$button-green-color-black: #2fbb5f;

$boxshadow-color-black: #272727;

$link-color-black: #4e9dfd;