$primary-color-black: #303030;
$white-color-black: #FFFFFF;
$green-color-black: #76d476;
$gray-color-black: #8e8e8e;
$light-gray-color-black: #d6d6d6;
$light-black-color-black: #212121;

$link-hover-black: #d8d8d8;

$font-input: 'Montserrat', sans-serif;
$font-second: 'Roboto', sans-serif;

$button-green-color-black: #2fbb5f;

$boxshadow-color-black: #272727;

$link-color-black: #4e9dfd;